@model UMS_HUSC_WEB_API.ViewModels.Demo.DemoAddSchedule
@{
    ViewBag.Title = "DemoSubScheduleFirst";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<center>
    <h2>Demo Set Nghỉ Học</h2>
</center>
<div class="" style="width: 50%; margin: 0 auto">
    @using (Html.BeginForm("DemoAddScheduleSecond", "Demo", FormMethod.Post))
    {
        <div class="form-group">
            <label>Lớp học phần:</label>
            <select class="form-control" name="maLopHocPhan" required>
                @foreach (var item in Model.LopHocPhans)
                {
                    <option value="@item.MaLopHocPhan">
                        @{ Write(string.Format("{0}", item.TenLopHocPhan)); }
                    </option>
                }
            </select>
        </div>

        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-success" style="width: 100%" />
        </div>

        <div class="form-group">
            <label>@Model.Demo.PhanHoi</label>
        </div>
    }
</div>
