@model UMS_HUSC_WEB_API.ViewModels.Demo.DemoSignUpCourse
@{
    ViewBag.Title = "DemoSignUpCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<center>
    <h2>Demo Đăng Ký Lớp Học</h2>
</center>
<div class="" style="width: 50%; margin: 0 auto">
    @using (Html.BeginForm("DemoSignUpClassSecond", "Demo", FormMethod.Get))
    {
        <div class="form-group">
            <label>Học kỳ:</label>
            <select class="form-control" name="hocKy" required>
                @foreach (var item in Model.HocKys)
                {
                    <option value="@item.MaHocKy">
                        @{ Write(string.Format("{0}  ( {1} - {2} )", item.TenHocKy, item.NamBatDau, item.NamKetThuc)); }
                    </option>
                }
            </select>
        </div>

        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-success" style="width: 100%" />
        </div>
    }
</div>

